#wrapper {
  overflow: hidden
}

#left {
  margin: 0px;
  padding: 0px;
  float: left;
}
#right {
  margin-left: 8px;
  padding: 0px;
  float: left;
}

.WPM {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 5px;
  font-size: 22px;
  font-weight: 300;
}
